.container{
     margin-left: 525px;
     margin-top: 20px;
}
.number{
    margin-top: 10px;
}
.num{
    padding: 3px;
    background-color: black;
    box-shadow: 5px 5px 5px gray;
    color: antiquewhite;
    border: 2px solid gray;
    text-align: center;
    width: 42px;
    height: 42px;
    cursor: pointer;
}
.input1{
    width: 208px;
    height: 32px;
    box-shadow: 5px 5px 5px gray;
    border: 3px solid gray;
    background-color: black;
    color: white;
}
.complete{
    margin-left: 512px;
    margin-top: 156px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 50px;
    border:5px solid gray;
    width: 232px;
    background-color: black;
    color:white;
    display: block;
}